.card {
  /* height: 90px; */
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  background-color: #f5f0f0;
  cursor: pointer;
}

img {
  border-radius: 50%;
  height: 60px;
}

.placeholder {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
}

.card:is(.active, :hover) {
  background-color: #e8e4e4;
}
