.sidebar {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  height: 600px;
}

.searchbar {
  background-color: #c22bf81a;
  border-radius: 8px;
  border-style: none;
  height: 28px;
  width: 188px;
  margin-bottom: 20px;
}

.corner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 125px;
}

.contactList {
  height: auto;
  max-height: 390px;
  overflow: auto;
}
