.container {
  max-width: 960px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.12);
  margin-top: 10vh;
  min-height: 600px;
}
