/* Global CSS styles go here. */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main {
  max-width: 960px;
  display: flex;
  align-items: start;
  justify-content: space-between ;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.12);
  margin-top: 10vh;
  min-height: 600px;
}

.add-contacts {
  padding: 20px 100px;
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 3px 6px 7px rgba(0, 0, 0, 0.07)
}

.add-contact-header {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.add-contact-details {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.add-contact-details>div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-contact-details label{
  font-size: 16px;
  color: #2C2C2C;
  font-weight: 600;
}

.add-contact-details input, .add-contact-details textarea {
  padding: 14px 20px;
  width: stretch;
  border-radius: 6px;
  border: 2px rgba(0, 0, 0, 0.3) solid;
  background-color: rgba(194, 43, 248, 0.02)
}

.add-contact-details input::placeholder {
  font-size: 16px;
  opacity: 0.6;
  font-weight: 500;
}

.add-contact-details button {
  align-self: center;
}